* {
  margin: 0;
  padding: 0;
}

.d1 {
  /* border: 2px solid blue; */
  font-family: Arial, Sans-Serif;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  display: flex;
  flex-direction: column;
}
#img {
  width: 5.5rem;
  height: 5rem;
}

#d2 {
  flex-direction: row;
}

#feel{
  margin: 1.5em;
  font-size: 1rem;
}

#text{
  margin: 1.5rem;
}

#temp {
  margin: 1rem;
  font-size: 3rem;
}

#region {
  align-self: flex-end;
}

p {
  font-size: 1.2rem;
}
